
.toprow {
    margin: 0;
    border-bottom: 2px solid #f4efef;
}
.left {
    width: 20%;
    padding: 5px;
    margin: 0;
}
.right {
    width: 80%;
    padding: 5px;
    margin: 0;
}
.heding{
    background: #011c38;
}
.modal-content{
    width: 650px;
}