<nav class="h-100" id="sidebar" style="position: fixed;">
    <div class="sidebar-header">
        <h3>Wisdom</h3>
    </div>
    <div class="list-unstyled sidebar-btn-div d-flex flex-column gap-3">
        <button class="sidebar-btn" [routerLink]="['dashboard']" routerLinkActive="router-link-active">DashBoard</button>
        <!-- <button class="sidebar-btn" [routerLink]="['dashboard']" routerLinkActive="router-link-active">Course List</button>  -->
        <button class="sidebar-btn" [routerLink]="['students-list']" routerLinkActive="router-link-active">Students List</button>
        <button class="sidebar-btn" [routerLink]="['teachers-list']" routerLinkActive="router-link-active">Teachers List</button>
        <button class="sidebar-btn" [routerLink]="['batch']" routerLinkActive="router-link-active">Batchs</button>
        <button class="sidebar-btn" [routerLink]="['exams']" routerLinkActive="router-link-active">Exams</button>
        <!-- <button class="sidebar-btn" [routerLink]="['students-payment']" routerLinkActive="router-link-active">Students Payment</button>
        <button class="sidebar-btn" [routerLink]="['teachers-payment']" routerLinkActive="router-link-active">Teachers Payment</button> -->
        <!-- <button class="sidebar-btn" [routerLink]="['dashboard']" routerLinkActive="router-link-active">Announcemet</button> -->
        <button class="sidebar-btn" [routerLink]="['announcement']" routerLinkActive="router-link-active">Announcement</button>
        <button class="sidebar-btn" [routerLink]="['student_complaint']" routerLinkActive="router-link-active">Student Complaint</button>
        <!-- <button class="sidebar-btn" [routerLink]="['account-setings']" routerLinkActive="router-link-active">Account Settings</button> -->
        <!-- <button class="sidebar-btn" [routerLink]="['references']" routerLinkActive="router-link-active">Rferences</button>
        <button class="sidebar-btn" [routerLink]="['silabus']" routerLinkActive="router-link-active">silabas</button> -->

    </div>
</nav>
