<nav class="h-100" id="sidebar" style="position: fixed;">
    <div class="sidebar-header">
        <h3>Wisdom</h3>
    </div>
    <div class="list-unstyled sidebar-btn-div d-flex flex-column gap-3">
        <button class="sidebar-btn" [routerLink]="['dashboard']" routerLinkActive="router-link-active">DashBoard</button>
        <!-- <button class="sidebar-btn" [routerLink]="['dashboard']" routerLinkActive="router-link-active">Course List</button>  -->
        <button class="sidebar-btn" [routerLink]="['students-list']" routerLinkActive="router-link-active">Students List</button>
        <button class="sidebar-btn" [routerLink]="['teachers-list']" routerLinkActive="router-link-active">Teachers List</button>
        <button class="sidebar-btn" [routerLink]="['sub-admins']" routerLinkActive="router-link-active">Sub Admins</button>
        <button class="sidebar-btn" [routerLink]="['students-payment']" routerLinkActive="router-link-active">Students Payment</button>
        <button class="sidebar-btn" [routerLink]="['teachers-payment']" routerLinkActive="router-link-active">Teachers Payment</button>
        <!-- <button class="sidebar-btn" [routerLink]="['dashboard']" routerLinkActive="router-link-active">Announcemet</button> -->
        <button class="sidebar-btn" [routerLink]="['account-setings']" routerLinkActive="router-link-active">Account Settings</button>
        <button class="sidebar-btn" [routerLink]="['references']" routerLinkActive="router-link-active">Rferences</button>
        <button class="sidebar-btn" [routerLink]="['silabus']" routerLinkActive="router-link-active">silabas</button>
        <button class="sidebar-btn" [routerLink]="['result-details']" routerLinkActive="router-link-active">Result-details</button>
        <button class="sidebar-btn" [routerLink]="['teachers-details']" routerLinkActive="router-link-active">Teachers Details</button>

    </div>
</nav>
