<div>

    <div class="container">
        <h3 class="p-4">Batch List</h3>
        <div class="d-flex justify-content-between">
            <div class="dropdown">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class="d-flex gap-5">
                <div class="input-group w-70">
                    <input type="text" class="form-control" placeholder="Search.." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn" style="background-color: rgb(191, 191, 191);" type="button"><i
                                class="fa fa-search"></i></button>
                    </div>
                </div>
                <button type="button" class="btn btn-primary " (click)="addBatch()">Add New Batch</button>
            </div>
        </div>

        <!-- Table -->

        <table class="table mt-4" style="background-color: white;">
            <thead>
                <tr>
                    <th scope="col">no</th>
                    <th scope="col">Batch name </th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of students_list; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td><div (click)="studentDetails(item?.id)"> {{item?.name}}</div></td>
                    <td>{{item?.start_date|date:"short"}}</td>
                   <td>
                        <button class="status-chip active" *ngIf="!item?.disabled">Active </button>
                        <button class="status-chip rejected" *ngIf="item?.disabled">Deactivated </button>
                        <button class="status-chip pending" *ngIf="item?.status==user_status?.INVITED">Pending </button>
                   </td>
                    <td style="color: gray;">
                        <a data-bs-toggle="modal" data-bs-target="#editModal" class="mr-4"><i
                            class="fas fa-edit"></i></a>
                        <a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
