<div>

    <div class="container">
        <h3 class="p-4"> Attendance</h3>
        <div class="d-flex">
            <div class="d-flex gap-5">
                <mat-form-field>
                    <mat-label>Choose Month</mat-label>
                    <select matNativeControl>
                        <option value="volvo">January</option>
                        <option value="saab">Feb</option>
                    </select>
                </mat-form-field>
           </div>

        </div>
  
        <full-calendar [options]="calendarOptions" 
        ></full-calendar>

    </div>
</div>