<nav class="h-100" id="sidebar" style="position: fixed;">
    <div class="sidebar-header">
        <h3>Institution</h3>
    </div>
    <div class="list-unstyled sidebar-btn-div d-flex flex-column gap-3">
        <button class="sidebar-btn " [routerLink]="['dashboard']" routerLinkActive="router-link-active">DashBoard</button>
        <button class="sidebar-btn" [routerLink]="['students-attendance']" routerLinkActive="router-link-active">Student Attendance</button>
        <!-- <button class="sidebar-btn" [routerLink]="['time-table']" routerLinkActive="router-link-active">Time Schedule<Table></Table></button> -->
        <button class="sidebar-btn" [routerLink]="['exam-result']" routerLinkActive="router-link-active">Exam Result</button>
        <button class="sidebar-btn" [routerLink]="['students-list-view']" routerLinkActive="router-link-active">Student List</button>
        <button class="sidebar-btn" [routerLink]="['account-setings']" routerLinkActive="router-link-active">Account Settings</button>
        <button class="sidebar-btn" [routerLink]="['references']" routerLinkActive="router-link-active">Rferences</button>
        <!-- <button class="sidebar-btn" [routerLink]="['silabus']" routerLinkActive="router-link-active">silabas</button> -->

    </div>
</nav>
