<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-lg-start" >
    <div class="container d-flex justify-content-center">
      <div class="card " style="width: 400px">
        <div class="card-body px-md-5">
          <form [formGroup]="adminLoginForm">
            <h3 class="my-5 display-4 fw-bold ls-tight">Sign in</h3>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" class="form-control" formControlName="email" placeholder="user name" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" class="form-control" formControlName="password" placeholder="password" />
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" (click)="adminLogin(adminLoginForm?.value)">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>