<div class="student-profile py-4">
  <div class="container">
    <div class="row" [formGroup]="userDetailForm">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center profile">
            <button class="profile-img no-profile-img large-title-text">{{nameProfileImg(data?.name)}}</button>
            <h3>{{data?.name}}</h3>
            <div>{{data?.email}}</div>
          </div>
          <div class="card-body " >
            <p class="mb-0"><strong class="pr-1">Name :</strong></p>
            <input type="text" formControlName="name" class="form-control" placeholder="name" />
            <p class="mb-0 mt-3"><strong class="pr-1">Phone :</strong></p>
            <input type="text" formControlName="phone" class="form-control" placeholder="phone" />
            <!-- <p class="mb-0"><strong class="pr-1">course :</strong></p>
            <input type="text" formControlName="course" class="form-control" placeholder="course" />
            <p class="mb-0 mt-3"><strong class="pr-1">address :</strong></p>
            <input type="text" formControlName="address" class="form-control" placeholder="address" />
            <p class="mb-0 mt-3"><strong class="pr-1">gender :</strong></p>
            <input type="text" formControlName="gender" class="form-control" placeholder="gender" /> -->
            <!-- <p class="mb-0"><strong class="pr-1">Course:</strong>{{data?.course}}</p> -->
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm w-full">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
            <textarea name="" class="form-control" formControlName="about" id="" cols="30" rows="10" placeholder="about.."></textarea>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary mt-5" (click)="update(userDetailForm?.value)">Update </button>
    </div>
  </div>
</div>