/* Custom Styles */

  
  .container {
    max-width: 800px;
  }
  
  .jumbotron {
    background-color: #007bff;
    color: #fff;
  }
  
  .h{
    color: #007bff;
  }
  
.ul {
    margin-bottom: 20px;
  }
  
  /* Add more custom styles as needed */
  