<div class="section-box">
    <div class="profile">
    <div class="row">
    <div class="col-xs-5">
    <div class="profile-photo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREs7bJU33mJN3-ZrJGh8BjCFb5nxBsxpRRdw&usqp=CAU" alt="Robert Smith"></div>
    </div>
    <div class="col-xs-7">
    <div class="profile-info">
    <h1 class="profile-title">Ronaldo</h1>
    <h2 class="profile-position">Maths Teacher</h2></div>
    <ul class="profile-list">
    <li class="clearfix">
    <strong class="title">Age</strong>
    <span class="cont">29</span>
    </li>
    <li class="clearfix">
    <strong class="title">Address</strong>
    <span class="cont">koolath</span>
    </li>
    <li class="clearfix">
    <strong class="title">E-mail</strong>
    <span class="cont"><a href="mailto:robertsmith@company.com">robertsmith@company.com</a></span>
    </li>
    <li class="clearfix">
    <strong class="title">Phone</strong>
    <span class="cont"><a href="tel:+12562548456">000007</a></span>
    </li>
    <li class="clearfix">
    <strong class="title">Experiance</strong>
    <span class="cont">10 year</span>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>