.gap-50{
    gap: 50px;
}

.row-div{
    padding: 10px 20px ;
    cursor: pointer;
    width: 100%;
    .title:hover{
      text-decoration: underline;
    }
}


.row-1{
    background-color: rgb(237, 237, 237);
    
}

.row-2{
    background-color: rgb(249, 249, 249);
}