<div>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Student registration</h5>
        <button type="button" class="btn-close" mat-dialog-close>x</button>
    </div>
    <div class="modal-body" [formGroup]="studentForm" >
        <div class="form-outline mb-2">
            <label for="">Full Name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Full Name" />
        </div>
        <div class="form-outline mb-2">
            <label for="">Course</label>
            <select class="form-select" aria-label="Default select example" class="form-control " formControlName="course" (change)="onCourseSelect()">
                <option selected>Open this select menu</option>
                <option value="MEAN Stack">MEAN Stack Web Development</option>
                <option value="MERN Stack">MERN Stack Web Development</option>
                <option value="Asp.net MVC">Asp.net MVC </option>
                <option value="PYTHON">PYTHON</option>
                <option value="Flutter">Flutter</option>
                <option value="Java">Java Spring Full Stack Development</option>
                <option value="Software Testing">Software Testing Specialist</option>
                <option value=""></option>
              </select>
        </div>
        <div class="form-outline mb-2">
            <label for="">Batch</label>
            <select class="form-select" aria-label="Default select example" class="form-control " formControlName="batch" (change)="onCourseSelect()">
                <option selected>Open this select menu</option>
                <option [value]="item?.name" *ngFor="let item of batches">{{item?.name}}</option>
              </select>
        </div>
        <div class="form-outline mb-2 ">
            <label for="">Date of Birth</label>
            <input type="date" formControlName="dob" class="form-control" placeholder="DOB" max="2005-12-31"/>
        </div>
        <div class="form-outline mb-2 ">
            <label for="">Phone number</label>
            <input type="text" formControlName="phone" class="form-control" placeholder="Phone" />
        </div>
        <div class="form-outline mb-2 ">
            <label for="">Email</label>
            <input type="text" formControlName="email" class="form-control" placeholder="email" />
        </div>

    </div>
    <div class="d-flex gap-5 p-4">
        <button type="button" class="btn btn-secondary" mat-dialog-close>Close</button>
        <button type="button" class="btn btn-primary " (click)="addStudent(studentForm?.value)">Add Student </button>
    </div>
</div>