<div>
    <div class="container">
        <h3 class="p-4">Student Attendance</h3>
        <div class="d-flex mr-2">
            <div class="form-outline">
                <select class="form-select" aria-label="Default select example" class="form-control "
                    [(ngModel)]="course" (change)="selectCourse()">
                    <option selected>Open this select menu</option>
                    <option value="MEAN Stack">MEAN Stack Web Development</option>
                    <option value="MERN Stack">MERN Stack Web Development</option>
                    <option value="Asp.net MVC">Asp.net MVC </option>
                    <option value="PYTHON">PYTHON</option>
                    <option value="Flutter">Flutter</option>
                    <option value="Java">Java Spring Full Stack Development</option>
                    <option value="Software Testing">Software Testing Specialist</option>
                    <option value=""></option>
                </select>
            </div>
            <div class="input-group w-25">
                <input type="text" class="form-control" placeholder="Search.." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" style="background-color: gray;" type="button"><i
                            class="fa fa-search"></i></button>
                </div>

            </div>

            <button type="button" class="btn btn-success ml-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="addStudentAttendance()">Attendance Register</button>

        </div>

        <!-- Table -->

        <table class="table mt-4" style="background-color: white;">
            <thead>
                <tr>
                    <th scope="col">Reg no</th>
                    <th scope="col">Full name</th>
                    <th scope="col">last 7 day</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of studentsattendance_list,let i=index">
                    <td scope="row">{{i+1}}</td>
                    <td class="d-flex gap-5 profile align-items-center"> <button
                            class="profile-img no-profile-img normal-text"
                            *ngIf="!item?.img">{{nameProfileImg(item?.name)}}</button>
                        <div (click)="studentDetails(item?._id)">
                            <div>{{item?.name}}</div>
                            <div class="x-small-text">{{item?.email}}</div>
                        </div>
                    </td>
                    <td>
                        <span *ngFor="let data of item?.attendance">
                            <span style="color: green;" *ngIf="data.title=='present'">P </span>&nbsp;
                            <span style="color: red;" *ngIf="data.title=='absent'">A </span>&nbsp;
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>