<div>

    <div class="container">
        <h3 class="p-4">Student List</h3>
        <div class="d-flex justify-content-between">
            <select style="width: 300px;" class="form-select form-control" [(ngModel)]="selected_course" (click)="selectCourse()"> 
                <option value="" selected>All</option>
                <option value="MEAN Stack">MEAN Stack Web Development</option>
                <option value="MERN Stack">MERN Stack Web Development</option>
                <option value="Asp.net MVC">Asp.net MVC </option>
                <option value="PYTHON">PYTHON</option>
                <option value="Flutter">Flutter</option>
                <option value="Java">Java Spring Full Stack Development</option>
                <option value="Software Testing">Software Testing Specialist</option>
                <option value=""></option>
              </select>
            <div class="d-flex gap-5">
                <div class="input-group w-70">
                    <input type="text" class="form-control" placeholder="Search.." [(ngModel)]="searchText">
                    <div class="input-group-append">
                        <button class="btn" style="background-color: rgb(191, 191, 191);" type="button"><i
                                class="fa fa-search"></i></button>
                    </div>
                </div>
                <button type="button" class="btn btn-primary " (click)="addStudent()">Student Registration</button>
            </div>
        </div>

        <!-- Table -->

        <table class="table mt-4" style="background-color: white;">
            <thead>
                <tr>
                    <th scope="col">Reg no</th>
                    <th scope="col">Full name </th>
                    <th scope="col">Mobile no</th>
                    <th scope="col">Batch</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of students_list | searchFilter:searchText |courseFilter:selected_course;let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td class="d-flex gap-5 profile align-items-center"> <button class="profile-img no-profile-img normal-text" *ngIf="!item?.img">{{nameProfileImg(item?.name)}}</button>
                        <div (click)="studentDetails(item?._id)"> <div>{{item?.name}}</div><div class="x-small-text">{{item?.email}}</div></div></td>
                    <td>{{item?.mobile_no}}</td>
                    <td>{{item?.course}}, {{item?.batch}}</td>
                   <td>
                        <button class="status-chip active" *ngIf="item?.status==user_status?.ACTIVE">Active </button>
                        <button class="status-chip rejected" *ngIf="item?.status==user_status?.INACTIVE">Deactivated </button>
                        <button class="status-chip pending" *ngIf="item?.status==user_status?.INVITED">Pending </button>
                   </td>
                    <td style="color: gray;">
                        <a data-bs-toggle="modal" data-bs-target="#editModal" class="mr-4" (click)="addStudent(item)"><i
                            class="fas fa-edit"></i></a>
                        <a data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="deleteUser()"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
