@use '@angular/material' as mat;
@include mat.core();
$CloudCompete-FE-primary: mat.define-palette(mat.$indigo-palette);
$CloudCompete-FE-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$CloudCompete-FE-warn: mat.define-palette(mat.$red-palette);
$CloudCompete-FE-theme: mat.define-light-theme((color: (primary: $CloudCompete-FE-primary,
        accent: $CloudCompete-FE-accent,
        warn: $CloudCompete-FE-warn,
      )));
@include mat.all-component-themes($CloudCompete-FE-theme); 

.gap-5{
    gap: 10px;
}
.large-title-text {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 30px !important;
  line-height: 32px;
}

//section-sub-title
.title-text {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  line-height: 26px;
}

// title
.sub-title-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

// description
.normal-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.small-size-text {
  font-style: normal;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 22px !important;
}

.x-small-text{
  font-style: normal;
  font-weight: 300 !important;
  font-size: 12px !important;
  line-height: 14px !important;
}