

	<link rel="shortcut icon" type="png" href="images/icon/favicon.png">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comaptible" content="IE=edge">

	<meta name="desciption" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="script.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>



<!-- Navigation Bar -->
	<header id="header">
		<nav>
			<div class="logo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTQE5KVcvHbJiRqpApY4rXOkJN3wMM_n1h-Q&usqp=CAU" alt="logo"></div>
			<ul>
				<li><a class="active" href="">Home</a></li>
				<li><a href="#portfolio_section">Portfolio</a></li>
				<li><a href="#team_section">Team</a></li>
				<li><a href="#services_section">Services</a></li>
				<li><a href="#contactus_section">Contact</a></li>
			</ul>
			<button class="sidebar-btn get-started" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</button>
			
			
		</nav>
		<div class="head-container">
			<div class="quote">
				<p><b> Step into the future of Education Administration</b></p>
				<h5>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include teaching, training, storytelling, discussion and directed research!</h5>
        <h5>"Education is the key that unlocks the door to a world of infinite possibilities. It is the foundation upon which individuals build their dreams, the bridge to enlightenment, and the compass that guides us toward a brighter future. With each lesson learned and each piece of knowledge gained, we empower ourselves to make informed decisions, to cultivate critical thinking, and to shape the world around us. Education is not merely the acquisition of facts but the illumination of minds, nurturing curiosity, and fostering a lifelong love of learning. It is the heartbeat of progress, a beacon of hope, and a force that transcends boundaries, empowering individuals to reach their fullest potential and contribute positively to society. In essence, education is the cornerstone of a better, more equitable, and enlightened world."</h5>
		
		</div>
			
			<div class="svg-image">
				<img src="https://solution.smartschoolerp.com/img/banner.svg" alt="svg">
			</div>
		</div>
		
		
	</header>
	<div class="oursf">
		<div class="svg-image">
			<img src="https://solution.smartschoolerp.com/img/revolutionary-banner.png" alt="svg">
		</div>
		<div class="quote">
			<p><b>Welcome to our  institute software</b></p>
			<h5>Whether you aim to streamline administrative tasks, enhance communication between staff and parents, or elevate the overall learning experience, our school management software is designed to empower your institution every step of the way.</h5>
			<div>
				<span class="span">
					<i>
						<img class="logo1" src="https://cdn-icons-png.flaticon.com/128/3502/3502942.png">
					</i>Admission Management
				</span>
			</div>
			<div class="">
				<span class="logoedit span">
					<i>
						<img class="logo1"  src="https://cdn-icons-png.flaticon.com/128/11254/11254276.png">
					</i>Fee Management
				</span>
			</div>
			<div class="">
				<span class="span">
					<i>
						<img class="logo1"  src="https://cdn-icons-png.flaticon.com/128/3963/3963319.png">
					</i>Attendence Management
				</span>
			</div>
			<div class="">
				<span class="span">
					<i>
						<img class="logo1"  src="https://cdn-icons-png.flaticon.com/128/2725/2725659.png">
					</i> Exam Management
				</span>
			</div>
	</div>
	
		
		
	</div>
	
  <div class="Course"><h1>About our course</h1>
	<div class="course1"><img class="img" src="https://pngimg.com/uploads/number1/number1_PNG14887.png" alt="">
		<div>
			<h1>SSLC</h1>
			<p>The full form of SSLC is the Secondary School Leaving Certificate. SSLC is a certificate that the students receive after completing their study of secondary school level. It is generally a qualification exam which is most common in India for enrollment to higher secondary school.</p>
		</div>
	</div>
	<div class="course1"><img class="img" src="https://pngimg.com/uploads/number2/Number%202%20PNG%20images%20free%20download_PNG14941.png" alt="">
		<div>
			<h1>Ninth Standard</h1>
			<p>Though 9th standard marks are not important for examinations, they can provide the confidence to do well in the competitive examinations in the later phase of life.</p>
		</div>
	</div>
	<div class="course1"><img class="img" src="https://pngimg.com/uploads/number3/number3_PNG14988.png" alt="">
		<div>
			<h1>Eighth Standard</h1>
			<p>Class 8 students will be at an advantage if they start thinking and planning for their careers. There is no immediate pressure at this time and kids can explore a variety of options.</p>
		</div>
	</div>

	

    <div>
		
    </div>
  </div>
  <div class="contact"><h1>Contact</h1>
    <div>
     <b><h5>Phone : 7012099035</h5>
      <h5>Gmail : abz@gmail.com</h5></b> 
      
    </div></div>
	
 
