<div>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Batch</h5>
        <button type="button" class="btn-close" mat-dialog-close>x</button>
    </div>
    <div class="modal-body" [formGroup]="studentForm" >
        <div class="form-outline mb-2">
            <label for="">Name</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Full Name" />
        </div>
        <div class="form-outline mb-2">
            <label for="">Course</label>
            <select class="form-select" aria-label="Default select example" class="form-control " formControlName="course">
                <option value="MERN Stack">MERN Stack Web Development</option>
                <option value="Asp.net MVC">Asp.net MVC </option>
                <option value="PYTHON">PYTHON</option>
                <option value="Flutter">Flutter</option>
                <option value="Software Testing">Software Testing Specialist</option>
              </select>
        </div>
        <div class="form-outline mb-2 ">
            <label for="">Start Date</label>
            <input type="date" formControlName="start_date" class="form-control" placeholder="DOB" />
        </div>
        <div class="form-outline mb-2 ">
            <label for="">End Date</label>
            <input type="date" formControlName="end_date" class="form-control" placeholder="DOB" />
        </div>

    </div>
    <div class="d-flex gap-5 p-4">
        <button type="button" class="btn btn-secondary" mat-dialog-close>Close</button>
        <button type="button" class="btn btn-primary " (click)="addBatch(studentForm?.value)">Add Batch </button>
    </div>
</div>