<div class="container">
    <div>
        <h2><b>Announcement</b></h2>
    </div>
    <div>
        <div class="img"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPJGVTpkpPFTgHcbs9aMmjgvuBzY4VD4oYcg&usqp=CAU"
                alt=""></div>
        <div class="discription1">
            <h4>SQL</h4>
            <div>
                <p>Structured query language (SQL) is a programming language for storing and processing information in a
                    relational database.</p>
            </div>
        </div>
    </div>
</div>