<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">

        <button (click)="onToggle()" type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>

        <div >
            <button class="profile btn-none d-flex justify-content-center align-items-center" [matMenuTriggerFor]="user_menu">
                <p class="profile-name normal-text">{{user?.name}}</p>
                <img class="profile-img" *ngIf="user?.img"
                    [src]="user?.img" alt="">
                    <button class="profile-img no-profile-img normal-text" *ngIf="!user?.img">{{nameProfileImg(user?.name)}}</button>
            </button>
            <mat-menu class="user-profile-mat-dropdown" #user_menu="matMenu">
                <div class=" profile-img-div drop-down-profile d-flex align-items-center flex-column justify-content-center">
                    <img class="profile-img" *ngIf="user?.img"
                        [src]="user?.img" alt="">
                    <button class="profile-img no-profile-img title-text"  *ngIf="!user?.img">{{nameProfileImg(user?.name)}}</button>
                    <div (click)="profileDetil()">
                        <div class="profile-name sub-title-text">{{user?.name}}</div>
                        <div class="profile-link normal-text">{{user?.email}}</div>
                    </div>
                </div>
                <hr class="m-0">
                <button class="drop-down-list btn-none normal-text">Privacy and Policy</button>
                <button class="drop-down-list btn-none normal-text">FAQ</button>
                <hr class="m-0">
                <button class="drop-down-list btn-none normal-text" (click)="logout()">Logout</button>
            </mat-menu>
        </div>
    </div>
</nav>