<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-lg-start" style="background-color: hsl(0, 0%, 96%);height: 100%;">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">

        <!-- col-1 institution name and details -->
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            The best offer <br />
            <span class="text-primary">for your business</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet, itaque accusantium odio, soluta, corrupti aliquam
            quibusdam tempora at cupiditate quis eum maiores libero
            veritatis? Dicta facilis sint aliquid ipsum atque?
          </p>
        </div>

        <!-- Sign up page -->

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card " style="width: 90%;">
            <div class="card-body">
              <form [formGroup]="signupForm">
                <h3 class="display-4 py-3 fw-bold ls-tight">Sign in</h3>
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="text" formControlName="name" class="form-control" placeholder="Full Name" />
                </div>
                <div class="form-outline mb-4">
                  <input type="text" formControlName="email" class="form-control" placeholder="Email" />
                </div>
               <div class="form-outline mb-4">
                  <input type="text" formControlName="course" class="form-control" placeholder="Course" />
                </div>
                <div class="form-outline mb-4">
                  <input type="date" formControlName="dob" class="form-control" placeholder="Date of Birth" />
                </div>


                <div class="form-outline mb-4">
                  <input type="number" formControlName="phone" class="form-control" placeholder="Phone" />
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4" (click)="signUp(signupForm?.value)">
                  Sign in
                </button>
                <p>Already have an account? <span class="link" routerLink="/login">Sign in</span></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>