#dob{
    margin-top: -62px;
    margin-left: 200px;
}
#parent_number{
    margin-top: -62px;
    margin-left: 200px;


}
#selector1{
    margin-top: -30px;
    margin-left: 80px;

}
#selector2{
    margin-top: -24px;
    margin-left: 160px;
}

.link{
    color: rgb(35, 97, 240);
    font-weight: 600;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}